<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier une Transaction</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Modifier la Transaction</h1>
    <form th:action="@{/client/transactions/{id}(id=${transaction.id})}" th:object="${transaction}" method="post" class="mt-4">
        <div class="mb-3">
            <label for="montant" class="form-label">Montant</label>
            <input type="text" th:field="*{montant}" class="form-control" id="montant" required>
        </div>
      <!-- <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" th:field="*{dateTransaction}" class="form-control" id="date" required>
        </div>-->
		<div class="mb-3">
			        <label for="date" class="form-label">Date</label>
			       <!-- <input type="date" th:field="*{dateTransaction}" class="form-control" id="date" required>-->
					<input type="datetime-local" id="dateTransaction" th:field="*{dateTransaction}" class="form-control" step="1" />
			        <span th:if="${#fields.hasErrors('dateTransaction')}" th:errors="*{dateTransaction}"></span>
			    </div>
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <select th:field="*{type}" class="form-select" id="type" required>
                <option value="Credit" th:selected="${transaction.type == 'Credit'}">Crédit</option>
                <option value="Debit" th:selected="${transaction.type == 'Debit'}">Débit</option>
            </select>
        </div>
        <div class="d-flex justify-content-end gap-2">
            <a href="/client/transactions" class="btn btn-secondary">Annuler</a>
            <button type="submit" class="btn btn-warning">Modifier</button>
        </div>
    </form>
</div>

<!-- Bootstrap Bundle (including Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
